<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1028474072996-ptfbh4gf1q5em7qp2fhu4e26lq20udv6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028474072996-ptfbh4gf1q5em7qp2fhu4e26lq20udv6</string>
	<key>API_KEY</key>
	<string>AIzaSyDI2ZbY7Ra9PI436IPqOGlhPbxWB_qWOog</string>
	<key>GCM_SENDER_ID</key>
	<string>1028474072996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sg.edu.nus.iss.trung.HomeAutomation</string>
	<key>PROJECT_ID</key>
	<string>cloud-team5</string>
	<key>STORAGE_BUCKET</key>
	<string>cloud-team5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028474072996:ios:33126c3e927bf842</string>
	<key>DATABASE_URL</key>
	<string>https://cloud-team5.firebaseio.com</string>
</dict>
</plist>